<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591319172334-kji1ktfshpmpi9r4ek9b5esvtjlsefku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591319172334-kji1ktfshpmpi9r4ek9b5esvtjlsefku</string>
	<key>API_KEY</key>
	<string>AIzaSyBwSxAuQuHq8zZaoC8n_F6Hmm4xoUi7NAc</string>
	<key>GCM_SENDER_ID</key>
	<string>591319172334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ibue</string>
	<key>PROJECT_ID</key>
	<string>ibue-183d9</string>
	<key>STORAGE_BUCKET</key>
	<string>ibue-183d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591319172334:ios:daf716428db64d99da9fff</string>
</dict>
</plist>